<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva3 Django</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../static/contacto.css">
</head>
<body>
       <header>
        <div class="container-navbar">
        <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
            <li><a href="./productos">Productos</a></li>
            <li><a href="./nosotros">Nosotros</a></li>
            <li><a href="./sucursales">Sucursales</a></li>
            <li><a href="./contacto">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>

    <h2>Contacto</h2>
    <section class="formulario">
    <div class="form-content">
        <h3>Ingrese sus datos</h3>
        <form action="https://formsubmit.co/pabloanibaalq@gmail.com" method="POST">

            <label for="name"><b>Nombre:</b></label>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">

            <label for="email"><b>Correo Electronico:</b></label>
            <input type="email" name="email" id="email" placeholder="Ingrese su email">

            <label for="telefono"><b>Teléfono:</b></label>
            <input type="tel" name="teléfono" id="telefono" placeholder="Ingrese su teléfono">
            
            <label for="asunto"><b>Asunto:</b></label>
            <input type="text" name="asunto" id="asunto" placeholder="Ingrese su asunto">

            <label for="mensaje"><b>Mensaje:</b></label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="5" placeholder="Ingrese el mensaje"></textarea>

            <input class="btn" type="submit" value="Enviar">

            <input type="hidden" name="_next" value="http://127.0.0.1:5500/tienda/templates/gracias.html">

            <input type="hidden" name="_captcha" value="false">

        </form>
    </div>
</section>

    </body>
    </html>

