<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva3 Django</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../static/gracias.css">
</head>
<body>
       <header>
        <div class="container-navbar">
        <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="./sucursales.html">Sucursales</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>

    <section class="bienvenida">
    <div class="container-bienvenida">
        <h1>Gracias por contactarte con nosotros</h1>
            <p class="text-center">Para volver a la página principal haz click en el botón de volver</p>
            <a class="btn" href="./index.html">Volver</a>
        </div>     


        </section>


</body>
</html>