<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva3 Django</title>
    <link rel="stylesheet" href="./plantilla.css">
   
</head>
<body>
       <header>
        <div class="container-navbar">
        <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Cartas Recientes</a></li>
            <li><a href="#">Todas las Cartas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>

      {% block content %}

      {% endblock %}

</body>
</html>