<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva3 Django</title>
     {% load static %}
     <link rel="stylesheet" type="text/css" href="../static/registro.css">
</head>
<body>
       <header>
        <div class="container-navbar">
        <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
            <li><a href="./productos">Productos</a></li>
            <li><a href="./nosotros">Nosotros</a></li>
            <li><a href="./sucursales">Sucursales</a></li>
            <li><a href="./contacto">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>
{% load static %}
<h1>REGISTRAR NUEVO USUARIO</h1>
<div class="card">
    <div class="card-body">
       
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for campo in formulario %}
        
            <div class="contenido-formulario">
              <label for="" class="form-label"><b>{{campo.label}}:</b></label>
              <input type="{{campo.field.widget.input_type}}"
                class="form-control" name="{{campo.name}}" id="" aria-describedby="helpId" value="{{campo.value | default:''}}">
            </div>
        {% endfor %}
        
        <input class="btn" type="submit" value="Registrar">
        
        </form>
         

    </div>
</div>

</body>
</html>