<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva3 Django</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../static/sucursales.css">
</head>
<body>
       <header>
        <div class="container-navbar">
        <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
            <li><a href="./productos">Productos</a></li>
            <li><a href="./nosotros">Nosotros</a></li>
            <li><a href="./sucursales">Sucursales</a></li>
            <li><a href="./contacto">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>

    <section class="sucursales">
    <div class="container-sucursales">
        <h1>SUCURSALES</h1>
        <h2><br>Actualmente contamos con 3 Sucursales dentro de la 5ta Región</br></h2>
        </div>

        <div class="sucursal1">
            <div class="container">
                <h3>Avenida Pedro Montt #1804, Valparaíso</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.362916801325!2d-71.62077862542745!3d-33.04691107695781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0d8422ac69f%3A0x6868e5ab5c932ea7!2sPedro%20Montt%201804%2C%202362987%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1703096640723!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!4v1703096662687!6m8!1m7!1slm0D_mJ9avpxPZ259eO4Rg!2m2!1d-33.04670647044428!2d-71.61825121323285!3f167.9306!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div> 
        
            <div class="sucursal2">
                <div class="container">
                    <h3>Avenida Valparaíso #1367, Viña del Mar</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.1572313544752!2d-71.54556502542873!3d-33.02598787589838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de7428e204dd%3A0x8158107e133b683b!2sAv.%20Valpara%C3%ADso%201367%2C%202520520%20Valpara%C3%ADso%2C%20Vi%C3%B1a%20del%20Mar%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1703096582844!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1703096533224!6m8!1m7!1s3gHx6MArjNAuvQhcxoyh-w!2m2!1d-33.02640991361195!2d-71.54303200855607!3f4.7796526!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div> 
        
                <div class="sucursal3">
                    <div class="container">
                        <h3>Avenida Los Carrera #712, Quilpué</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.3066002412884!2d-71.44563732542736!3d-33.048394077032945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689d91d208313c9%3A0x69d460b32842af83!2sAv.%20Los%20Carrera%20712%2C%202430590%20Quilpu%C3%A9%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1703096389618!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <iframe src="https://www.google.com/maps/embed?pb=!4v1703096462332!6m8!1m7!1sUAgvaStIf5J-iczVZ89eTA!2m2!1d-33.0482151897448!2d-71.44298918958792!3f0.8304244012526283!4f-7.650673309134447!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    </div>  
        </section>

</body>
</html>